body {
	font-family: 'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}

.section {
    padding: 2rem 0;
}

/* header */
nav {
    font-family: 'Courier New', Courier, monospace;
    font-size: 18px;
    color: rgb(107, 35, 175);
    height: 100px;
    width: 100%;
    background-color: skyblue;
    position: fixed;
    z-index: 1000;
}

nav ul{
    list-style-type: none;
}

nav ul li{
    display: inline;
    padding: 0px 25px 0px 25px;
}

nav ul li a{
    position: relative;
    font-weight: bolder;
    text-decoration: none;
    color: black;
}

nav ul li a:after{
    content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%) scaleX(0);
    -webkit-transform: translateX(-50%) scaleX(0);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    width: 100%;
    height: 2px;
    background-color: black;
    -webkit-transition: transform 250ms;
    transition: transform 250ms;
}

nav ul li a:hover:after{
    -webkit-transform: translateX(-50%) scaleX(1);
    transform: translateX(-50%) scaleX(1);
}

.logo{
    margin-left: 20px;
    height: 50px;
    width: 65px;
    padding-right: 300px;
    text-align: center;
}

/* navbar */
#navbar{
    margin: 0;
    padding: 0 0 0 0;
    width: 100%;
    height: 100px;
    overflow-y: hidden;
    background: rgb(255, 255, 255);
}

#announcement{
		border-style: groove;
		border-radius: 25px;
    margin: auto;
		padding-left: 5vw;
		padding-right: 5vw;
		padding-bottom: 10px;
    max-width: 500px;
    height: 450px;
    overflow-y: hidden;
}

/*footer*/
footer{
    bottom:0px;
    background-color:skyblue;
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* card */
.card {
    margin: 50px 30px 20px 30px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 5px;
    border: 2px solid black;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.container {
    padding: 10px 10px 10px 10px;
    margin: auto;
}

ul{
    list-style-type: none;
}

ul li{
    display: inline;
    padding-right: 20px;
    font-weight: bold;
}

p {
    padding-left: 40px;
}

/* Grid helper */
.eleven {
	width: 91.5%;
	float: left;
	margin-left: 2%;
}
.ten {
	width: 83%;
	float: left;
	margin-left: 2%;
}
.nine {
	width: 74.5%;
	float: left;
	margin-left: 2%;
}
.eight {
	width: 66%;
	float: left;
	margin-left: 2%;
}
.seven {
	width: 57.5%;
	float: left;
	margin-left: 2%;
}
.six {
	width: 49%;
	float: left;
	margin-left: 2%;
}
.five {
	width: 40.5%;
	margin-left: 2%;
	float:left;
}
.four {
	width: 32%;
	float:left;
	margin-left: 2%;
}
.three {
	width: 23.5%;
	float:left;
	margin-left: 2%;
}
.two {
	width: 15%;
	float:left;
	margin-left: 2%;

}
.one {
	width: 6.5%;
	float:left;
	margin-left: 2%;
}
.row {
	width: 100%;
	clear: both; /* clear creates new styles for next row */
	padding: 0px;
	margin: 0px;
}

.viewPayment p{
	padding: 0px 0px 0px 10px;
}

.viewPayment input{
	margin: 0px 0px 0px 10px;
}

.viewPayment textarea{
	margin: 0px 0px 0px 10px;
}

.viewPayment button{
  border-style: solid;
	margin: 0px 0px 0px 5%;
	width: 100px;
	height: 25px;
	border-radius: 10px;
}

#status {
  color: red;
}
