body{
    background: skyblue;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

*{
    font-family: sans-serif;
    box-sizing: border-box;
}

form{
    width: 700px;
    border: 2px solid #ccc;
    padding: 30px;
    background: white;
    border-radius: 15px;
    margin-top: 50px;
}

h2 {
    text-align: center;
    margin-bottom: 40px;
}

input {
    display: block;
    border: 2px solid #ccc;
    width: 95%;
    padding: 10px;
    margin: 10px auto;
    border-radius: 5px;
}

select {
    display: block;
    border: 2px solid #ccc;
    width: 95%;
    padding: 10px;
    margin: 10px auto;
    border-radius: 5px;
}

label {
    color: #888;
    font-size: 18px;
    padding: 10px;
}

button {
    float: right;
    background: #555;
    padding: 10px 15px;
    color: white;
    border-radius: 5px;
    margin-right: 15px;
    border: none;
}

button:hover {
    opacity: .5;
}

.error {
    background: #F2DEDE;
    color: #A94442;
    padding: 10px;
    width: 95%;
    border-radius: 5px;
}

.success {
    background: #F2DEDE;
    color: rgb(39, 184, 39);
    padding: 10px;
    width: 95%;
    border-radius: 5px;
}